@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:900');

$font-family-sans-serif:      'Cabin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family:        'Roboto', sans-serif;


// Bootstrap Imports
// Option A: The WHOLE thing
@import "_bootstrap/bootstrap";


/*
// Option B: Custom Import; See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing
// Required
@import "_bootstrap/functions";
@import "_bootstrap/variables";
@import "_bootstrap/mixins";
// Optional
@import "_bootstrap/root";
@import "_bootstrap/reboot";
@import "_bootstrap/type";
@import "_bootstrap/images";
@import "_bootstrap/code";
@import "_bootstrap/grid";
@import "_bootstrap/tables";
@import "_bootstrap/forms";
@import "_bootstrap/buttons";
@import "_bootstrap/transitions";
@import "_bootstrap/dropdown";
@import "_bootstrap/button-group";
@import "_bootstrap/input-group";
@import "_bootstrap/custom-forms";
@import "_bootstrap/nav";
@import "_bootstrap/navbar";
@import "_bootstrap/card";
@import "_bootstrap/breadcrumb";
@import "_bootstrap/pagination";
@import "_bootstrap/badge";
@import "_bootstrap/jumbotron";
@import "_bootstrap/alert";
@import "_bootstrap/progress";
@import "_bootstrap/media";
@import "_bootstrap/list-group";
@import "_bootstrap/close";
@import "_bootstrap/modal";
@import "_bootstrap/tooltip";
@import "_bootstrap/popover";
@import "_bootstrap/carousel";
@import "_bootstrap/utilities";
@import "_bootstrap/print";
*/

// Your variable imports can be placed here
.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: gray no-repeat scroll center;
}